<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dany's Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card id="prof">
   
  <ion-card-header>
    <ion-card-title><a href="https://www.facebook.com/danielaparuli1008" target="_blank"><b>DANIELA B. PARULI</b></a></ion-card-title>
    
    <ion-card-subtitle>
      <ion-chip>
        <ion-icon name="checkmark" color="primary"></ion-icon> 
        <ion-label>Graphic Designer 
        </ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Animator</ion-label>
      </ion-chip>
      
      <ion-chip>
        <ion-label>Business Owner</ion-label>
      </ion-chip>
    </ion-card-subtitle>
    
  </ion-card-header>
  <ion-card-content>
    <p><b>DANIELA B. PARULI</b> Step into my realm where imagination dances with reality.</p>
    
   </ion-card-content>
</ion-card>
<ion-content>
  <div class="dashboard-container">
    <ion-card class="dashboard-card">
      <ion-card-header>
        <ion-card-title>HOBBIES / LIKES</ion-card-title>
        I play electric guitar, compose songs and I have a band.<br>
        I'm a graphite / charcoal, digital artist.
      </ion-card-header>
      <ion-card-content>
      
      </ion-card-content>
    </ion-card>

    <ion-card class="dashboard-card">
      <ion-card-header>
        <ion-card-title>TALENTS</ion-card-title>
        Play guitar (both acoustic and electric),
        I sketch a lot, drawerist<br>
        Can Sing and Dance<br>
        Basically art inclined:>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>

    <ion-card class="dashboard-card">
      <ion-card-header>
        <ion-card-title>SKILLS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-chip>
          
          <ion-label>Digital Art
          </ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Animate</ion-label>
        </ion-chip>
        
       

        <ion-list>
          <ion-item>
            <ion-label>Logical thinker na hindi naman ma apply in rl situation</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Magkape 4X a day ng hindi nagpapalpitate</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Kumausap ng pusa</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Kalmado kapag nakikinig ng metal</ion-label>
          </ion-item>
          
      </ion-card-content>
    </ion-card>
  </div>
  
  <h1 id="yrs"> WHERE AM I IN 5 YEARS?</h1>
  <div id="yrs"> I want to pursue the things I love ever since. The music, art, and veterianry clinic.<br>
    I can see myself applying for a job in Disney / Pixar / Dreamworks where I can use my talents and skills.
  </div>
  
  <h1 id="yrs"> Strength & Weakneses </h1>
  <div id="yrs"> Strengths <br>
    Can put a lot of effort and spend time to where I am inclined the most <br>
    <br>
    Weakneses<br>
   mag code
  </div>

<h1 id="yrs"> LOVE LANGUAGE</h1>
<h1 id="yrs"> Mamalo, manghampas</h1>

  <h1 id="yrs">KUNG PAGKAIN KA ANO KA? </h1>
  <h1 id="yrs"> FETUS</h1>
  
 
  <h1>PET PEEVE</h1>
  <p> Body shamer / make up shamer</p>
</ion-content>



</ion-content>
